<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.chartsearchai</package>
	<author>OpenMRS</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openmrsPlatformVersion}</require_version>

	<!-- Module Activator -->
	<activator>org.openmrs.module.chartsearchai.ChartSearchAiModuleActivator</activator>

	<!-- Internationalization -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>

</module>
